<div class="col-md-60">
    <div class="input-group">
        <div class="input-group-prepend">
            <span id="btnUpload" class="input-group-text upload">
                Subir
            </span>
        </div>
        <div class="custom-file">
            <form action="">
                <input type="file" class="form-control-file" id="input-custom-file">
                <label for="input-custom-file">Elige una imagen Para la Fotografía</label>
            </form>
        </div>
    </div>
</div>
<!--<div class="form-group">
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Elija una imagen para su fotografía (opcional).</small>
</div>-->