<h1>ACCESS DINIED!</h1>
<p class="zoom-area"><b>404 -</b>- You do not have permissions for this site!</p>
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="link-container">
  <!--<a target="_blank" href="/login" class="more-link">Visit the original article</a>-->
  <button type="button" class="btn btn-secondary btn-sm" (click)="funcionAsociadaBoton()">
    <i class="fas fa-undo-alt"></i>
    Regresar
  </button>
</div>